.body {
  height: 87vh;
  width: 80%;
  background: linear-gradient(rgb(33, 122, 163), rgba(0, 0, 0, 1));
  color: white;
  padding: 20px;
  overflow-y: overlay;
}

.body::-webkit-scrollbar {
  display: none;
}
