.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.Header_left {
  flex: 0.5;
  min-width: 80px;
  display: flex;
  align-items: center;
  color: gray;
  border-radius: 10px;
  background-color: white;
  padding: 5px;
}

.Header_left > input {
  border: none;
  padding: 5px;
  width: 90%;
}

.Header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header_right > h1 {
  margin-left: 10px;
  font-size: 15px;
}
