.Icons {
  display: flex;
  align-items: center;
}

.Icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.body_play {
  font-size: 65px !important;
  color: rgb(80, 165, 80) !important;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  margin: 20px 50px 20px 0px;
}

.Favorite {
  font-size: 35px !important;
}

.body_play:hover {
  transition: 200ms transform ease-in;
  transform: scale(1.08);
}
