.sidebar {
  height: 90vh;
  width: 20%;
  min-width: 150px;
  color: white;
  background-color: #040404;
  padding: 0px 10px;
  overflow-y: overlay;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar_logo {
  width: 100%;
  margin-right: auto;
  padding: 10px;
}

.sidebar_title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.sidebar > hr {
  border: 1px solid #282828;
  margin: 10px auto;
  width: 90%;
}
