.sidebaroptions {
  color: rgb(184, 180, 180);
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 10px;
  transition: 200ms color ease-in;
}
.sidebaroptions:hover {
  color: white;
}

.sidebaroption_icon {
  margin: 0px 10px 0px 0px;
  font-size: 30px !important;
}

.sidebaroptions > h5 {
  font-size: 13px;
  font-weight: 500;
}
